.create-mission-header {
    display: flex;
    align-items: center;
}

.back-btn {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    text-align: center;
    font-size: 2.2rem;
    line-height: 30px;
}

.back-btn:hover {
    background-color: #ccc;
}

.create-mission-heading {
    font-size: 2.3rem;
}

.create-mission-wrapper {
    display: flex;
    width: 100%;
}

.mission-step-item {
    width: 33.333%;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(231, 231, 231);
    margin-left: 20px;
    flex: 1;
    box-shadow: 0 0 5px rgb(224, 224, 224);
}

.mission-step-item-heading {
    text-align: center;
    line-height: 40px;
    display: block;
    top: 0;
    height: 40px;
    width: 100%;
    background-color: #f0f0f0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    font-weight: 600;
    color: var(--main-color);
    border-bottom: 2px solid rgb(223, 221, 221);
}

.missison-point {
    min-height: 300px;
}

.f-a-f-wrapper {
    flex: 2;
}

.f-a-wrapper {
    display: flex;
}

.mission-step-item {
}

.form-missions-f-a-wrapper {
    width: calc(100% - 20px);
    margin-left: 20px;
    margin-top: 20px;
    height: 300px;
    border-radius: 2px;
    padding: 10px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.596);
    box-shadow: 0 0 10px rgb(231, 231, 231);
    position: relative;
}

.add-f-a-icon {
    padding: 7px 10px;
    background-color: rgb(240, 240, 240);
    border: none;
    border-radius: 4px;
    color: var(--main-color);
    cursor: pointer;
    text-align: center;
    font-size: 2rem;
}

.missison-point-content {
    overflow: scroll;
    max-height: 500px;
    padding: 0;
}

.point-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 16px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    margin: 0 8px;
}

.point-item:hover {
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 10%);
}

.point-item-content {
    flex: 1;
    padding-right: 10px;
}

.name-point {
    font-size: 2.2rem;
    font-weight: 500;
}

.create-at {
    font-size: 1.1rem;
    font-family: var(--number-font);
}

.deciption-point {
}

.point-item-action {
    display: flex;
}

.point-item-wrapper {
    margin-left: 4px;
}

.action-point-btn {
    height: 30px;
    width: 30px;
    background-color: rgb(240, 240, 240);
    border: none;
    border-radius: 4px;
    color: var(--main-color);
    cursor: pointer;
    text-align: center;
}

.action-point-btn:hover {
    background-color: rgb(235, 235, 235);
}

.show-point-map {
}

.add-point {
}

.delete-point-map {
    font-size: 1.6rem;
    line-height: 30px;
}

.delete-point-map:hover {
    color: red;
}

/* map show point` */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.3;
    z-index: 100;
}

#map-show-point {
    width: 40vw;
    height: 40vh;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #fff;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 2px;
    z-index: 101;
    overflow: hidden;
}

.remove-map {
    position: absolute;
    right: 4px;
    top: 4px;
    width: 25px;
    height: 25px;
    background-color: transparent;
    text-align: center;
    line-height: 25px;
    border: none;
    border-radius: 50%;
}

.remove-map:hover {
    background-color: rgb(170, 170, 170);
}

.delete-point {
    display: inline-block;
}

.misison-function,
.mission-action {
    height: 220px;
}

/* function */
.misisons-f-a-item {
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding: 0 16px;
    align-items: center;
    /* margin: 0 10px; */
    border-bottom: 1px solid rgb(248, 248, 248);
    cursor: pointer;
    user-select: none;
}

.misisons-f-a-item:hover {
    border-color: #f4f4f4;
    background: #f5f5f5;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 10%);
    transition: border-color 0.167s linear, box-shadow 0.167s linear;
}

/* steps mission */
.heading-form-mission {
    font-size: 2.3rem;

    margin-left: 8px;
    margin-bottom: 10px;
}

.steps-mission {
    width: calc(100% - 20px);
    height: 20px;
    margin-left: 20px;
    margin-top: 20px;
    height: 180px;
    border-radius: 4px;
    box-shadow: 5px 5px 10px #ccc;
    position: relative;
}

.form-missions-f-a.show {
    display: block;
}

.misisons-f-a-item.active {
    font-weight: 700;
    background: #f5f5f5;
    box-shadow: 0 4px 16px 0 rgb(0 0 0 / 10%);
}

.add-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 16px;
}

.form-missions-f-a {
    display: none;
}

.time-sleep {
    width: 60px;
    border: 1px solid #ccc;
    height: 30px;
    text-align: center;
    padding: 0 8px;
    font-family: var(--number-font);
}

.name-sleep {
    border: 1px solid #ccc;
    height: 30px;
    padding: 0 8px;
}

/* footprint */

#name-footprint {
    border: 1px solid #ccc;
    padding: 6px 12px;
}

.footprint-img {
    height: 300px;
    width: 350px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* filter: drop-shadow(0 0 20px #000); */
}

.input-footprint-wrapper {
    position: absolute;
}

.input-footprint-wrapper span {
    font-size: 1.6rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}


.top-footprint {
    bottom: 100px;
    left: 20px;
}

.right-footprint {
    top: 50px;
    left: 20px;
}

.left-footprint {
    bottom: 120px;
    right: 0px;
}

.bottom-footprint {
    top: 20px;
    right: 30px;
}

.name-footprint-input {
    border: 1px solid #ccc;
    padding: 6px 4px;
    flex: 1;
}

/* gpio form */
.gpio_form input {
    border: 1px solid #ccc;
    padding: 6px 4px;
    flex: 1;
}

.gpio_form label {
    /* width: 108px; */
    display: inline-block;
}

.label-sleep {
    display: inline-block;
    width: 100px;
}

.step-item.step-gpio {
    background-color: #379237;
}

.step-item.step-position {
    background-color: #393e46;
    margin-left: 50px;
    position: relative;
}
.step-item.step-position::after {
    content: "";
    display: block;
    position: absolute;
    right: calc(100% + 2px);
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 4px;
    background-color: #0008c1;
}

.step-item.step-position::before {
    
    content: "";
    display: block;
    position: absolute;
    right: calc(100% + 2px);
    top: 50%;
    transform: translateY(-50%) translateX(60%);
    border-left: 10px solid #0008c1;
    border-right: 10px solid transparent;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
}

.step-item.step-footprint {
    background-color: #0008c1;
}
.step-item.step-sleep {
    background-color: #cf0a0a;
}
.step-item.step-sound {
    background-color: #3f3b6c;
}
.step-item.step-marker {
    background-color: #432c7a;
}

.step-item {
    position: relative;
    height: 30px;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
}

.step-item:hover > .move-btn,
.step-item:hover > .show-menu {
    display: block;
}
.step-item.out-line{
    border: 3px solid #3daeff;
} 

.move-btn {
    position: absolute;
    top: 50%;
    width: 33.3333333%;
    height: 100%;
    border: none;
    background-color: rgba(204, 204, 204, 0.507);
    color: #000;
    transform: translateY(-50%);
    display: none;
}

.move-btn:hover,
.show-menu:hover {
    background-color: rgba(204, 204, 204, 0.553);
    cursor: pointer;
}

.show-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 33.33333333%;
    color: #000;
    height: 100%;
    border: none;
    background-color: rgba(204, 204, 204, 0.411);
    transform: translateY(-50%) translateX(-50%);
    display: none;
}

.move-left {
    left: 0;
}
.move-right {
    right: 0;
}
/* message */

.message-success {
    position: fixed;
    height: 40px;
    background-color: #55b435;
    top: 80px;
    right: 40px;
    z-index: 100;
    display: flex;
    border-radius: 4px;
    padding: 4px;
    border: 1px solid #54b435;
    align-items: center;
    color: #fff;
}

.check-icon {
    padding: 0 8px;
}
.message-title {
}

/* step sumbit */
