:root {
    --column-create-missions: 5;
}
.create-missions-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    max-height: calc(100vh - 150px);
    overflow: scroll;
}
.create-misisons-item {
    width: calc(100% / var(--column-create-missions) - 20px);
    height: 100px;
    background-color: var(--main-color);
    color: var(--white-color);
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    /* text-align: center; */
    /* font-size: 2.2rem; */
    padding: 10px 8px;
    opacity: 0.8;
    cursor: pointer;
    position: relative;
    box-shadow: 2px 2px 7px #ccc;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.create-misisons-item:hover {
    box-shadow: 2px 2px 14px rgb(158, 158, 158);
}

/* .delete-mission-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    padding: 10px;
    background-color: transparent;
    color: rgb(143, 141, 141);
    border-radius: 50%;
    border: none;
    transform: translateX(20%) translateY(-20%);
    cursor: pointer;
}
.delete-mission-btn:hover {
    background-color: rgb(184, 182, 182);
    color: #fff;
} */

.create-missions-btn {
    font-size: 6rem;
    border: none;
    background-color: #ccc;
    color: var(--main-color);
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.create-missions-btn:hover {
    background-color: #ccc;
    opacity: 1;
}
