.steps-mission {
    /* overflow: scroll; */
    display: flex;
}


.arrow::after {
    content: "";
    position: absolute;

    right: -2px;
    top: 50%;
    border-bottom: 10px solid transparent;
    border-left: 10px solid aqua;
    border-top: 10px solid transparent;
    transform: translateY(-50%);
}

.step-item-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.step-item {
    padding: 4px 8px;
    margin: 8px 4px;
    background-color: var(--main-color);
    color: var(--white-color);
    border-radius: 4px;
}

.form-submit-steps {
    display: flex;
    max-height: 46px;
}

