
.mission-point-control-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.mission-point-control {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}


.mission-point-control-item {
    width: 30%;
    height: 100px;
    /* background-color: #ccc; */
}


.position {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.position .input-value {
    font-size: 2rem;
    width: 70px;
    font-family: var(--number-font);
    border: none;
    text-align: center;
    outline: none;
    padding: 4px;
    margin-bottom: 10px;
}

.input-value::-webkit-outer-spin-button,
.input-value::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.positon-x .input-control {
    width: 100%;
}

.input-control {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.input-control:hover {
    opacity: 1;
}


.input-control::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: var(--main-color);
    cursor: pointer;
}

#position-x::-webkit-slider-thumb {
    background: red;
}
#position-y::-webkit-slider-thumb {
    background: green;
}


.input-control::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: var(--main-color);
    cursor: pointer;
}

.positon-y {}

.rotate-z {}



.deg-unit {

}