/* navbar */
.nav-bar {
    width: 74px;
    height: 100vh;
    background-color: #f0f0f0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    z-index: 10;
    box-shadow: 0 0 5px #ccc;
}

.bar-item {
    font-size: 3rem;
    display: block;
    align-self: stretch;
    color: rgb(194, 191, 191);
    text-align: center;
    position: relative;
    cursor: pointer;
    height: 68px;
    margin-left: 2px;
    margin-bottom: 10px;
}

.bar-item i {
    line-height: 66px;
}

.bar-item:hover,
.logout:hover {
    background-color: rgba(255, 255, 255, 0.452);
    color: var(--main-color);
}

.bar-item-title {
    font-size: 1.3rem;
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    color: #333;
}

.bar-item.active {
    color: var(--main-color);
    border-left: 4px solid var(--main-color);
}

.logout {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 16px 0px;
    font-size: 3.6rem;
    background-color: transparent;
    border: none;
    color: var(--white-color);
    cursor: pointer;
}

/* user */
.user {
    position: fixed;
    right: 30px;
    top: 20px;
    display: flex;
    align-items: center;
    font-size: 2rem;
    z-index: 100;
}

.name-user {
    margin-right: 10px;
}

.avatar-user {
    font-size: 50px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(177, 177, 177);
}

/* content */
.container {
    margin-top: 80px;
    margin-left: 80px;
}

/* show nav bar */
.show-nav-bar {
    position: fixed;
    bottom: 30px;
    left: 30px;
    padding: 20px;
    font-size: 3rem;
    border-radius: 20px;
    color: var(--white-color);
    border: none;
    background-color: var(--main-color);
    cursor: pointer;
}

.show-nav-bar.hide {
    display: none;
}

.show-nav-bar:hover {
    bottom: 33px;
}

.message {
    font-size: 3rem;
}

/* connect */
.connect-ros-btn {
    font-size: 2.5rem;
    text-align: center;
    cursor: pointer;
    color: #fff;
    z-index: 100;
}

.connect-ros-btn i {
    line-height: 50px;
}

.connect-ros-btn.connected {
    color: #82cd47;
}

.connect-ros-btn.connection-failed {
    color: #cf0a0a;
}
