/* navbar */
.nav-bar {
    width: 74px;
    background-color: #f0f0f0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    z-index: 10;
    box-shadow: 0 0 5px #ccc;
}

.bar-item {
    font-size: 3rem;
    display: block;
    align-self: stretch;
    color: rgb(194, 191, 191);
    text-align: center;
    position: relative;
    cursor: pointer;
    height: 68px;
    margin-left: 2px;
    margin-bottom: 10px;
}

.bar-item i {
    line-height: 66px;
}

.bar-item:hover,
.logout:hover {
    background-color: rgba(255, 255, 255, 0.452);
    color: var(--main-color);
}

.bar-item-title {
    font-size: 1.2rem;
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    color: #333;
}

.bar-item.active {
    color: var(--main-color);
    border-left: 2px solid var(--main-color);
}

.logout {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 16px 0px;
    font-size: 2.7rem;
    background-color: transparent;
    border: none;
    color: var(--white-color);
    cursor: pointer;
    color: #ccc;
}

/* user */
.user-wrapper {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    z-index: 100;
    color: #fff;
    margin-right: 20px;
}

.name-user {
    margin-right: 10px;
}

.avatar-user {
    font-size: 32px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    /* box-shadow: 0 0 10px rgb(177, 177, 177); */
}

/* content */
.container-content {
    margin-top: 48px;
    margin-left: 74px;
    width: 100vw;
    height: 100vh;
    max-height: calc(100vh - 48px);
    max-width: calc(100vw - 74px);
    overflow-x: hidden;
    overflow-y: auto;
}

.message {
    font-size: 3rem;
}

/* connect */
.connect-ros-btn {
    font-size: 2.5rem;
    text-align: center;
    color: #fff;
    z-index: 1000;
}

.connect-ros-btn i {
    line-height: 50px;
    width: 68px;
}

.connect-ros-btn.connected {
    color: #82cd47;
}

.connect-ros-btn.connection-failed {
    color: #cf0a0a;
}

.bar-item-top {
    height: 48px;
}

.main-header {
    height: 48px;
    background-color: #0f6cbd;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left-wrapper {
    display: flex;
    align-items: center;
    color: #fff;
}

.message-map-wrapper {
    margin-left: 20px;
    font-size: 1rem;
}
.message-map-none {
    padding: 2px 4px;
    border-radius: 2px;
    background-color: #cf0a0a;
}

.active .icon {
    fill: var(--main-color);
    stroke: var(--main-color);
}

.active .dashboard-strock {
    fill: var(--main-color);
}

.bar-item svg {
    margin-top: 12px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.nav-bar-icon {
    width: 40px;
}
