.map-wrapper {
    width: calc(100% - 40px);
    height: calc(100vh - 100px);
    position: relative;
    margin: 0 20px;
}

.map-page_map {
    width: calc(100% - 40px);
    flex: 1;
    box-shadow: 0 0 10px #ccc;
    overflow: hidden;
}

.map-wrapper .list-map-btn {
    position: absolute;
    margin: 15px;
}
.map-page_map {
    width: 100%;
    height: 100%;
}


.header-map {
    position: absolute;
    height: 30px;
    display: flex;
    align-item: center;
    margin: 10px;
    font-size: 1.6rem;
}

.list-map-wrapper {
    display: flex;
    align-item: center;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 2px 2px 5px #333;
}

.list-robot {
    margin-right: 8px;
    border: none;
    outline: none;
    font-size: 1.6rem;
}

.list-map {
    /* height: ; */
}

.list-map-wrapper label {
    background: var(--main-color);
    color: var(--white-color);
    line-height: 30px;
    padding: 0 8px;
}

#list-map {
    outline: none;
    border: none;
    font-size: 1.6rem;
    /* padding: 8px; */
}

.map-active-map {
    position: absolute;
    right: 0px;
    font-size: 1.2rem;
    left: none;
    padding: 8px;
}

.list-layer {
}

.create-layer {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.create-layer-button {
    height: 30px;
    padding: 0 6px;
    font-size: 1.6rem;
    border: none;
    background: var(--main-color);
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.value-layer {
    display: none;
    align-items: center;
}

.save-layer-form {
    display: none;
}

#value-layer:checked ~ .save-layer-form {
    display: block;
}

#value-layer:checked ~ .value-layer {
    display: flex;
}

.input-layer {
    height: 30px;
    width: 50px;
    border: none;
    background: transparent;
    font-size: 1.4rem;
    outline: none;
    padding-left: 10px;
}

.layer-btn {
    height: 30px;
    font-size: 1.6rem;
    padding: 0 8px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.zone {
    background: transparent;
    height: 30px;
    outline: none;
    border: 1px solid rgba(70, 69, 69, 0.438);
}

.show-layer {
    height: 20px;
    font-size: 1.3rem;
    padding: 0 8px;
}
