:root {
    --column-control-point: 8;
}
/* connect ros */

.connect-ros-btn {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 30px;
    left: 150px;
    background-color: #71bec9;
    background-color: var(--orange-color);
    font-size: 2.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 40%;
    color: #fff;

}
.connect-ros-btn i {
    line-height: 50px;
}
.connect-ros-btn.connected {
    background-color: #82CD47;
}

.connect-ros-btn.connection-failed {
    background-color: #CF0A0A;
}


.connection-notification {
    position: fixed;
    right: 20px;
    top: 100px;
    height: 100px;
    width: 200px;
    background-color: #E8F9FD;
    border-radius: 10px;
    box-shadow: 0 0 20px #ccc;
}

.connection-notification.connected {
    background-color: #82CD47;
}

/* content */
.missions-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-tab {
    display: flex;
    background-color: #ebebf5;
    list-style: none;
    height: 30px;
    border-radius: 100px;
    justify-content: space-between;
    font-size: 2rem;
}

.navtab-item {
    align-items: stretch;
    padding: 0 25px;
    line-height: 30px;
    user-select: none;
    border-radius: 100px;
    cursor: pointer;
}

.navtab-item:hover {
    background-color: rgba(72, 72, 130, 0.1);
}

.navtab-item.active {
    background-color: #484882;
    color: var(--white-color);
}

/* map */

.nav-content {
    width: 90%;
    height: 60vh;
    margin-right: 100px;
    margin-top: 10px;
    /* background-color: #ccc; */
}

.missions-map {
    width: 100%;
    height: 65vh;
    margin-top: 20px;
    margin-right: 100px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px #ccc;
}

.rotate-btn {
    width: 90px;
    height: 90px;
    background-color: aqua;
    border-radius: 50%;
    position: relative;
}

.rotate-btn::after {
    content: "";
    position: absolute;
    top: 3px;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 10px;
    height: 10px;
    background-color: #484882;
    cursor: pointer;
}
 
/* create point */

.form-create-point-checkbox:checked~.form-create-point-wrapper {
    display: block;
}

.form-create-point-wrapper {
    display: none;
}
