/* content */
.missions-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-tab {
    display: flex;
    background-color: #5f9cf733;
    list-style: none;
    height: 30px;
    border-radius: 4px;
    justify-content: space-between;
    font-size: 2rem;
    align-items: flex-start;
    margin-bottom: 20px;
}

.navtab-item {
    align-items: stretch;
    padding: 0 25px;
    line-height: 30px;
    user-select: none;
    border-radius: 4px;
    cursor: pointer;
}

.navtab-item:hover {
    background-color: #5f9cf77e;
}

.navtab-item.active {
    background-color: #5f9df7;
    color: var(--white-color);
}

/* map */

.nav-content {
    width: calc(100% - 40px);
}

.missions-map {
    /* width: 1000px;
    height: 1000px; */
    width: 100%;
    height: 65vh;
    /* margin-top: 40px; */
    margin-right: 100px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 20px #ccc;
}

.rotate-btn {
    width: 90px;
    height: 90px;
    background-color: aqua;
    border-radius: 50%;
    position: relative;
}

.rotate-btn::after {
    content: "";
    position: absolute;
    top: 3px;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 10px;
    height: 10px;
    background-color: #484882;
    cursor: pointer;
}

/* create point */

.form-create-point-checkbox:checked ~ .form-create-point-wrapper {
    display: block;
}

.form-create-point-wrapper {
    display: none;
}
