.missions-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-tab {
    display: flex;
    background-color: #ebebf5;
    list-style: none;
    height: 50px;
    border-radius: 100px;
    justify-content: space-between;
    font-size: 2.5rem;
}

.navtab-item {
    align-items: stretch;
    padding: 0 25px;
    line-height: 50px;
    user-select: none;
    border-radius: 100px;
    cursor: pointer;
}
.navtab-item:hover {
    background-color: rgba(72, 72, 130, 0.1);
}
.navtab-item.active {
    background-color: #484882;
    color: var(--white-color);
}

/* map */

.missions-map {
    width: 90%;
    height: 60vh;
    margin-top: 20px;
    margin-right: 100px;
    background-color: #484882;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px #ccc;
}

.rotate-btn {
    width: 90px;
    height: 90px;
    background-color: aqua;
    border-radius: 50%;
    position: relative;
    /* transform: rotate(0deg); */
}
.rotate-btn::after {
    content: "";
    position: absolute;
    top: 3px;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 10px;
    height: 10px;
    background-color: #484882;
    cursor: pointer;
}


