:root {
    --column-status: 4;
}

.wrapper-status-content {
    /* background-color: #cccccc; */
    /* width: 95%; */
    display: flex;
    flex-wrap: wrap;
}
.status-item-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    overflow: hidden;
    width: calc(100% / var(--column-status) - 16px * 2);
    background-color: rgb(241, 241, 241);
    margin: 16px;
    box-shadow: 0 0 20px rgba(204, 204, 204, 0.514);
    padding: 16px 23px;
}
.status-item {
    /* height: 400px; */
}

.status-item {
    display: flex;
}

.status-header {
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    font-size: 2.2rem;
    margin-bottom: 10px;
}

.status-name-robot {
}

.status-status-robot {
    padding: 4px;
    border-radius: 2px;
    color: var(--white-color);
}

.status-status-robot.navigation {
    background-color: #54b435;
}

.status-status-robot.mapping {
    background-color: #ef5b0c;
}

.status-battery {
    /* font-size: 100px; */
    width: 200px;
    height: 200px;
    /* align-self: center; */
    /* background-color: red; */
    position: relative;
}

.outer-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #ccc;
    background: conic-gradient(#ccc 265deg, #ccc 265deg);
    /* position: relative; */
    transform: rotate(-130deg);
    box-shadow: 0 0 20px rgba(204, 204, 204, 0.616);
}
.inner-circle {
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 99;
    background-color: rgb(241, 241, 241);
}
.inner-circle::after {
    content: "";
    width: 160px;
    height: 160px;
    /* background-color: red; */
    position: absolute;
    transform: rotate(45deg) translateX(-50%);
    top: 94%;
    left: 35%;
    background-color: rgb(241, 241, 241);
}

.battery-parameter-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
}

.battery-percent {
    font-size: 3em;
    font-weight: 700;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-60%);
} 

.battery-parameter {
    display: flex;
    position: absolute;
    bottom: -10%;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.battery-a {
    /* margin-bottom: 30px; */
}

.temper-icon {
    color: red;
}
.volt-icon {
    color: orange;
}
.status-accessory {
    z-index: 100;
    width: 100%;
    margin-left: 20px;
    min-width: 160px;
}

.status-line-2 {
    width: 100%;
    z-index: 1000;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}

.accessoty-item-wrapper {
    font-size: 1.1rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 0 4px 8px 4px;
    width: 66px;
    text-align: center;
}

.accessoty-item-wrapper.active .accessoty-item {
    background: #60c15d;
    box-shadow: 8px 16px 14px -2px rgba(0, 213, 34, 0.2);
}

.accessoty-item-wrapper.inactive .accessoty-item {
    background: #ff3a3a;
    box-shadow: 8px 16px 14px -2px rgba(255, 24, 24, 0.2);
}

.accessoty-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 40%;
}

.accessoty-icon {
    width: 24px;
    fill: #fff;
}

.inactivate {
    color: #ccc;
}

.inactivate .accessoty-item-wrapper .accessoty-item {
    background: #ccc;
    box-shadow: none;
}

.inactivate .temper-icon,
.inactivate .volt-icon {
    color: #ccc !important;
}

.charge {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.charging {
    color: #82cd47;
    text-shadow: 0 0 20px #82cd47;
}

.no-change {
    color: #ccc;
}
