.tracking-mission-wrapper {
    /* height: calc(100vh - 140px); */
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

.step-mission-tracking-wrapper {
    width: 100%;
    height: 120px;
    padding: 4px 8px;
    /* box-shadow: 5px 5px 5px rgba(51, 51, 51, 0.445); */
    position: absolute;
    /* background-color: rgba(255, 255, 255, 0.521); */
    bottom: 0;
    display: flex;
}

.map-tracking-wrapper {
    width: 100%;
    flex: 1;
    position: relative;
}

.map-tracking {
    width: 100%;
    height: 100%;
}

.choose-robot-tracking{
    position:absolute;
    top: 0;
    padding: 4px 6px;
    background: var(--main-color);
    color: #fff;
}

.obtion-robot{
    background-color: transparent;
    outline: none;
}

.obtion-robot option{
    color: #000;
}


.step-mission-tracking {
    flex: 1;
}

.tracking-misison-btn {
    display: flex;
    align-items: flex-end;
}

.stop-mission-btn {
    background: #ff1700;
}

.continue-mission-btn {
    background: #54b435;
}

.joystick {
    position: absolute;
    right: 50px;
    bottom: 120px;
}
